body {
  background-image: url('./images/Background.gif'); 
  background-repeat: repeat-x repeat-y;
  text-align: center;
}

#welcometext-section {
  position: relative;
  padding: 20px 30px 30px 20px;
  margin: 5px 5px;
  background-color: #00002a;
  text-align: center;
}

#welcometext {
  font-size: calc(13px + 0.2vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #f0f0f0;
}

#topcontainer {
  position: relative;  
  margin-top: min(40px, calc(15px + 2.0vw));
  color: #222222;
  font-weight: 700;
  text-align: center;
}

#roundtext {
  color: #000000;
  font-size: calc(26px + 0.2vw);
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

#maptext {
  padding-top: min(10px, calc(4px + 0.5vw));
  color: #0000da;
  font-size: calc(22px + 0.05vw);
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#picktext {
  padding-top: 35px;
  font-size: calc(20px + 0.25vw);
  font-family: Arial, Helvetica, sans-serif;
}

#cardslots {
  display: flex;
  flex-flow: row wrap;
  gap: min(20px, calc(5px + 1vw));
  justify-content: center;
  padding-top: min(20px, calc(8px + 1.0vw));
  object-fit: cover;
  margin: auto;
}

#middlecontainer {
  justify-content: center;
  padding-top: 20px;
}

#newrun-button {
  border: 1px solid red;
  background-color: #ff6666;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
}

#listcolumns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  object-fit: cover;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: auto;
}

.card {
  width: min(230px, calc(172px + 4.0vw)); 
  height: min(360px, calc(270px + 6.26vw)); 
}

.nextround-button-disabled {
  border: 1px solid black;
  background-color: #777777;
  color: #777777;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  margin-left: 25px;
}

.nextround-button-enabled {
  border: 1px solid black;
  background-color: #3a9121;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  margin-left: 25px;
}

.column {
  padding-bottom: 20px;
  padding: 5px 5px;
}

.sidecontainer {
  position: relative;
  height: 180px;
  width: min(560px, calc(360px + 5.0vw));
  border: 1px solid #000000;
  background-color: #ffffff;
  margin: auto;
}

.listtext {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.normaltext {
  padding: 5px 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.technicaltext {
  color: #003757;
  font-size: calc(14px + 0.1vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
